.body{
    position: relative;
}
.text-on-image{
    position: absolute;
    top: 5vh;
    font-size: 2rem;
    color: white;
    text-align: left;
}
.p1{
    margin-bottom: 0.05rem;
    margin-left: 3rem;
    font-weight: 340;
}
.bg-color{
    background-color: #42a5f5;
}
.p2{
    padding-left: 1vw;
    padding-right: 5vw;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.858);
}
.p3{
    padding-right: 3vw;
    font-size: 0.9rem;
    font-weight: 380;
    color: rgba(255, 255, 255, 0.858);
}
.firstbox{
    height: 7vh;
    min-width: 270px;
    align-items: center;
}
.p4{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 450;
    text-align: center;
}
.addicon{
    color: #42a5f5;
    font-size: 40px;
    position: absolute;
    right: 5vw;
    bottom: 5vh;
}
.arrow-icon{
    color: #42a5f5;
    position: absolute;
    top: 5.5vh;
    left: 6vw;
    font-size: 1.5rem;
}
.box1{
    background-color: #093371;
    height: 90vh;
    width: 90vw;
}
.p5{
    text-align: center;
    font: 1.5rem serif;
    font-weight: 500;
    color: #42a5f5;
}
.input-group{
    text-align: center;
}
.submitbutton{
    background-color: #42a5f5;
}